body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: rgb(37, 85, 71);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(10, 131, 71);
    border-radius: 20px;
    border: 0;
    padding: 10px 60px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  
